* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
button {
  padding: 8px 12px;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 8px black;
  background-image: radial-gradient(rgb(207, 40, 149), rgb(132, 14, 134));
}
img {
  user-select: none;
  outline: none;
}
